@font-face {
    font-family: open-sans;
    font-weight: 600;
    src: url('../../fonts/Open_Sans/static/OpenSans-SemiBold.ttf');
}

body {
    margin: 0;
    background-color: #F3F7FA;
}

.app {
    font-family: open-sans;
    font-weight: 600;
    background-color: #F3F7FA;
}